//<style lang="scss">

// Start of Flex classes.
.flex {
display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
// End of Flex classes.
// Start of Global styles.
fieldset {
  border: 0;
  padding: 0;
}
.inline {
  display: inline-block;
}
.radio-spacing{
  margin-right: 0;
  border-radius: 4px;
}
button {
  width: 100%;
}
.calculate-button {
  margin-top: 1rem;
}
dl {
  margin: 0;
}
label {
  cursor: pointer;
}
// End of Global styles.
// Start of header styles.
.practiceweb-calculator {
  margin: auto;
  color: #333333;
}
.practiceweb-calculator-header {
  font-weight: bold;
  border-bottom: 5px solid #dce6eb;
  padding-bottom: 1rem;
}
// End of header styles.
// Start of  Input styles.
.input {
  width: 100%;
  .input-fields {
    padding: 1rem 0;
    .input-fields__title {
      padding-bottom: 0.5rem;
    }
  }
}
.input-fields__title {
  font-weight: bold;
}
.input-fields {
  .form-group {
    display: flex;
    .input-field {
      border: 1px solid #dce6eb;
      padding: 0.6875rem;
    }
    .input-field--label {
      padding: 0.45rem 1rem;
      border: 1px solid #dce6eb;
      &:hover {
        background-color: #F2F2F2;
      }
      .input-field--radio {
        margin-right: 0.5rem;
      }
      .input-field--radio--hidden {
        width: 1px;
        margin: 0;
        visibility: hidden;
      }
    }
    .active {
      background-color: #F2F2F2;
      border-color: #F2F2F2;
      box-shadow: 0 1.5px 2px -2px grey;
    }
    .input-field--number {
      width: calc(100% - 30px);
      font-size: 1rem;
    }
    .input-field--specialCharacter {
      padding: 10px 5px;
      border: 1px solid #dce6eb;
      width: 1.875rem;
      text-align: center;
      font-weight: bold;
    }
    .input-field--specialCharacter--pound {
      border-radius: 2px 0 0 2px;
      float: left;
    }
    .input-field--specialCharacter--percent {
      border-radius: 0 2px 2px 0;
    }
  }
  .form-group--gross {
    .input-field--label {
      text-align: center;
    }
  }
  .form-group--mobile {
    .input-field--label {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .form-group--twos {
    flex-wrap: wrap;
    .radio-spacing {
      margin: 0 0 10px 0;
      width: 100%;
    }
  }
  .form-group--loan-twos {
    width: 100%;
    flex-wrap: wrap;
    .input-fields {
      width: 100%;
      .input-field--label {
        width:auto;
        display: block;
      }
    }
  }
}
// End of Input styles.
// Start of Output styles.
.tabs-component {
  border: solid 1px #ddd;
}
.tabs-component-tab {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
  width: 33.3333%;
  display: inline-block;
  border: solid 1px #ddd;
}
.tabs-component-tab:hover {
  color: #666;
}
.tabs-component-tab.is-active {
  color: #000;
  background-color: #f2f2f2;
}
.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}
.output {
  .tabs-component {
    .tabs-component-tabs {
      padding: 0;
    }
  }
  .output-description {
    padding: 1em 0;
    text-align: center;
  }
  .main-value {
    padding: 3em 4em;
    background-color: #f2f2f2;
    .value-items {
      text-align: center;
    }
    .value-title {
      padding-bottom: 1em;
    }
    .value-number {
      font-size: 2em;
    }
  }
  .values-header {
    padding-top: 2em;
    text-align: center;
    font-size: 1.2em;
  }
  .sub-values {
    font-size: 1.2em;
    padding: 1em 3em;
    .value-items {
      width: 50%;
      display: inline-block;
      padding-bottom: 0.5em;
    }
    .value-label {
      font-weight: normal;
    }
  }
  .value-number {
    margin: 0;
    text-align: right;
    font-weight: bold;
  }
}
.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: 1em 0;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
.output-list {
  .sub-values{
    padding: 0;
  }
  ul{
    list-style: none;
  }
  .value-label {
    margin: 0;
    padding-bottom: 0.5em;
    width: 50%;
  }
  .value-items {
    margin:0;
    padding-bottom: 0.5em;
    font-weight: bold;
    text-align: right;
  }
}
// End of Output styles.
@media (min-width: 991px) {
  // Start of Global responsive styles.
  button {
    width: auto;
  }
  .flex-grow {
    flex-grow: 0;
  }
  .radio-spacing {
    margin: 0 10px 0 0;
  }
  // End of Global responsive styles.
  // Start of Input responsive styles.
  .content-container {
    .calculate-button {
      margin-bottom: 1rem;
    }
    .output {
      .output-list {
        .value-number {
          text-align: left;
        }
        .value-items {
          text-align: left;
        }
      }
    }
  }
  .input-fields {
    .form-group {
      display: flex;
      .input-field {
        border: 1px solid #dce6eb;
        padding: 0.6875rem;
      }
      .border-left {
        border-left: none;
      }
      .input-field--label {
        &:hover {
          background-color: #F2F2F2;
        }
        &:active {
          background-color: #F2F2F2;
        }
      }
      .input-field--number {
        width: 35%;
      }
    }
    .form-group--mobile {
      .input-field--label {
        width: auto;
        margin-bottom: 0;
      }
    }
    .form-group--twos {
      width: 80%;
      .radio-spacing {
        width: 47%;
        margin: 0 10px 10px 0;
      }
    }
    .form-group--loan-twos {
      .input-fields {
        width: 90%;
        .input-field--label {
          display: inline-block;
        }
      }
    }
  }
  .input--width {
    width: 51%;
    display: inline-block;
  }
  // End of Input responsive styles.
  // Start of Output responsive styles.
  .output--width {
    width: 49%;
    display: inline-block;
    float: right;
  }
  .tabs-component {
    border: 0;
  }
  .tabs-component-tab {
    background-color: #fff;
    border: solid 1px #ddd;
    transform: translateY(2px);
    transition: transform .3s ease;
    width: 34%;
  }
  .tabs-component-tabs {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
    padding: 0;
  }
  .tabs-component-tab.is-active {
    border-bottom: solid 1px #f2f2f2;
    z-index: 2;
    transform: translateY(0);
    border-top: 0.25em solid #1380bc;
  }
  .tabs-component-panels {
    border-top-left-radius: 0;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  }
  // End of Output responsive styles.
}
//</style>